@font-face {
	font-family: Chelsea Market;
	src: local("Chelsea Market"), local("ChelseaMarket-Regular"), url(http://themes.googleusercontent.com/static/fonts/chelseamarket/v1/qSdzwh2A4BbNemy78sJLfPbNgy1s2r-AQSwPHWGpA0I.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/chelseamarket/v1/qSdzwh2A4BbNemy78sJLfFg5923bhI0e2gp7DBvMMjU.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
